.godot/
.import/
.out/
out/
cmake-build-*/

export.cfg
export_presets.cfg
.sconsign.dblite

*.translation
*.obj

**/bin/*
!**/bin/*.gdextension

.vs/**
!.vs/launch.vs.json
!.vs/VSWorkspaceSettings.json
!.vs/CMakeWorkspaceSettings.json

.vscode/**
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
