[submodule "engine"]
	path = extern/godot-engine
	url = https://github.com/godotengine/godot.git
	branch = 4.2
[submodule "godot/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.2
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg
