name: GDExtension CMake

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

        # linux / gcc build
      - name: '[linux | gcc] => cmake - delete cache'
        run: rm -rf ${{ github.workspace }}/.out/*
      - name: '[linux | gcc] => cmake - configure'
        run: >
          cmake -B ${{ github.workspace }}/.out
          -DCMAKE_CXX_COMPILER=g++
          -DCMAKE_C_COMPILER=gcc
          -DCMAKE_BUILD_TYPE=Debug
          -S ${{ github.workspace }}
          -G Ninja
      - name: '[linux | gcc] => cmake - clean'
        run: cmake --build ${{ github.workspace }}/.out --config Debug --target clean --parallel 48
      - name: '[linux | gcc] => cmake - build'
        run: cmake --build ${{ github.workspace }}/.out --config Debug --target roguelite --parallel 48

        # linux / clang build
      - name: '[linux | clang] => cmake - delete cache'
        run: rm -rf ${{ github.workspace }}/.out/*
      - name: '[linux | clang] => cmake - configure'
        run: >
          cmake -B ${{ github.workspace }}/.out
          -DCMAKE_CXX_COMPILER=clang++
          -DCMAKE_C_COMPILER=clang
          -DCMAKE_BUILD_TYPE=Debug
          -S ${{ github.workspace }}
          -G Ninja
      - name: '[linux | clang] => cmake - clean'
        run: cmake --build ${{ github.workspace }}/.out --config Debug --target clean --parallel 48
      - name: '[linux | clang] => cmake - build'
        run: cmake --build ${{ github.workspace }}/.out --config Debug --target roguelite --parallel 48
